{% extends 'RideEase/layouts/main.html' %}

{% load static %}

{% block styles %}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1>Ride Confirmation</h1>
    </div>
    <section id ="dh-section">
        <button id="driver-ride">Show Driver</button>
    </section>
    <section id="ur-section">
        <button id="urdebt">Cancel and change your details</button>
    </section>
    <section id="do-section">
        <button id="dodebt">Confirm Ride</button>
    </section>
    <script>
        document.getElementById("driver-ride").addEventListener("click", async () => {
            const dname = "{{ driver.fname }}";
            const demail = "{{ driver.e_mail }}";
            const drating = "{{ driver.driver_rating }}";
            
            let tableHtml = `<p>Your Driver Details Are:</p><table>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>        </th>
                                    <th>Driver Email</th>
                                    <th>        </th>
                                    <th>Driver Rating</th>
                                </tr>
                                <tr>
                                    <td>${dname}</td>
                                    <td>         </td>
                                    <td>${demail}</td>
                                    <td>         </td>
                                    <td>${drating}</td>
                                </tr>
                            </table>`;
            document.getElementById("dh-section").innerHTML = tableHtml;
        });
        document.getElementById("urdebt").addEventListener("click", function() {
            const useerID = {{ user.user_id }};
            window.location.href = "/homepage/" + useerID;
        });
        document.getElementById("dodebt").addEventListener("click", function() {
            const useerID = {{ user.user_id }};
            const ddriverID = {{ driver.driver_id }};
            const distance = {{ distance }};
            const ride_type = "{{ ride_type }}";
            const pickup = "{{ pickup }}";
            const dropoff = "{{ dropoff }}";
            const url = "{% url 'confirmed' user_id=user.user_id distance=distance ride_type=ride_type driver_id=driver.driver_id pickup=pickup dropoff=dropoff %}";
            window.location.href = url;
        });
    </script>
</main>
{% endblock %}