{% extends 'RideEase/layouts/main.html' %}

{% load static %}

{% block styles %}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1>Welcome!</h1>
    </div>
    </section>
    <a href="https://www.google.com/maps/@28.4433471,77.1954816,12.67z"><img src="https://www.mapmyindia.com/api/move-api/images/card1.gif" height="250"></a>
    <section id="us-section">
        <h2></h2>
        <h2 style>View Your Bookings & Complete Your Latest Trip</h2>
        <h2></h2>
        <button id="prev-ride">LET'S GO</button>
    </section>
    <section id="ur-section">
        <h2></h2>
        <h2 style>View Your Details:</h2>
        <h2></h2>
        <button id="urdebt">VIEW</button>
    </section>
</main>
<script>
    const prevRide = document.querySelector('#prev-ride');
    prevRide.addEventListener('click', () => {
        const useerID = {{ driver.driver_id }};
        const useerId2 = {{ driver.driver_id }};
        window.location.href = `/bookings/${useerID}/${useerId2}`;
    });
    const urDebt = document.querySelector('#urdebt');
    urDebt.addEventListener('click', () => {
        const useerID = {{ driver.driver_id }};
        window.location.href = `/driver-details/${useerID}`;
    });
</script>
{% endblock %}