{% extends 'RideEase/layouts/main.html' %}

{% block content %}
  <h1>TRIGGERS</h1>
    <h3>Trigger 1</h3>
    <h5>Trigger to update the driver status to "inactive" when they accept a ride request.</h5>
        <h6>DELIMITER $$</h6>
        <h6>CREATE TRIGGER Driver_Status_Trigger</h6>
        <h6>AFTER INSERT ON Bookings</h6>
        <h6>FOR EACH ROW
            BEGIN
                 UPDATE Driver
                 SET Dr_Status='inactive'
                 WHERE Driver_ID=NEW.Dri_ID;
            END;</h6>
        <h6>--Example-- INSERT INTO `Bookings` (`Booking_ID`, `UserID`, `Dri_ID`, `Pickup`, `Dropoff`) VALUES (101, 39, 1, 'Flat 72 96 Hermina Upper\nNew Alexandreside, ACT 24', '89 Ward Green\nNorth Beverly, ACT 8498');
            -- select * from Driver;
        </h6>            
    <h3>Trigger 2</h3>
    <h5>Retrieve the fname and lname of users in the system for each month of the year and each year who have availed a ride</h5>
        <h6>CREATE TRIGGER user_trigger</h6>
            <h6>AFTER INSERT ON DrivesFor
            FOR EACH ROW</h6>
            <h6>BEGIN
                 DECLARE ridecount INT;
                 SET ridecount=(SELECT COUNT(*) FROM DrivesFor WHERE UsrID=NEW.UsrID);
                 IF ridecount>1 THEN 
                       UPDATE Users
                       SET User_Status='Prime'
                       WHERE User_ID=NEW.UsrID;
                 END IF;
            END; </h6>
                
           <h6> --Example-- INSERT INTO `DrivesFor` (`DrivID`, `UsrID`, `Tim`, `Distance`) VALUES (15, 1, '2021-12-12 11:12:18', '495');
            -- Select * FROM Users;</h6>
{% endblock %}